# Utilizar modelo linear para prever dados de queimadas no estado do Amazonas

## Imports

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression, Lasso, Ridge

C:\Users\tobia\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\tobia\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\tobia\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\tobia\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

## Load datasets

In [2]:
kaggle_data = pd.read_csv("../dados/amazon.csv", sep=',', engine="python")
inpe_data = pd.read_csv("../dados/Focos_2017-01-01_2017-12-31.csv", sep=',', encoding='utf-8', engine="python")

## Prepare Data

In [4]:
def convert_timestamp_to_month(value):
    timestamp = str(value)
    return int(timestamp.split('/')[1])
    
def convert_timestamp_to_year(value):
    timestamp = str(value)
    return int(timestamp.split('/')[0])
    
inpe_data['month'] = inpe_data['datahora'].map(convert_timestamp_to_month)
inpe_data['year'] = inpe_data['datahora'].map(convert_timestamp_to_year)

In [5]:
kaggle_data.columns

Index(['year', 'state', 'month', 'number', 'date'], dtype='object')

In [8]:
month_text_to_number = {
    "Janeiro": 1,
    "Fevereiro": 2,
    "Mar√ßo": 3,
    "Abril": 4,
    "Maio": 5,
    "Junho": 6,
    "Julho": 7,
    "Agosto": 8,
    "Setembro": 9,
    "Outubro": 10,
    "Novembro": 11,
    "Dezembro": 12
}

def convert_month_text_to_number(value): 
    return month_text_to_number[str(value)]

kaggle_data['month'] = kaggle_data['month'].map(convert_month_text_to_number)

In [12]:
features = ['year', 'month']
target_feature = ['number']

In [13]:
amazonas_treino = kaggle_data.loc[kaggle_data['state'] == "Amazonas"]

In [15]:
amazonas_test = inpe_data.loc['']

,datahora,satelite,pais,estado,municipio,bioma,diasemchuva,precipitacao,riscofogo,latitude,longitude,frp,month,year
0,2017/12/19 16:47:00,AQUA_M-T,Brasil,PARA,PICARRA,Amazonia,0,8.5,0.0,-6.453,-49.067,NaN,12,2017
1,2017/12/20 17:31:00,AQUA_M-T,Brasil,AMAZONAS,NHAMUNDA,Amazonia,0,1.3,0.1,-2.264,-56.747,NaN,12,2017
2,2017/12/20 17:31:00,AQUA_M-T,Brasil,PARA,ALMEIRIM,Amazonia,0,2.4,0.2,-1.051,-53.082,NaN,12,2017
3,2017/12/20 17:31:00,AQUA_M-T,Brasil,PARA,ALENQUER,Amazonia,0,0.5,0.1,-1.722,-54.867,NaN,12,2017
4,2017/12/20 17:31:00,AQUA_M-T,Brasil,PARA,ALENQUER,Amazonia,0,0.6,0.0,-1.912,-54.532,NaN,12,2017