# Análise Exploratória Simples de Dados de Queimadas

## Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Load datasets

In [7]:
kaggle_data = pd.read_csv("../../dados/Preprocessed/preprocessed_kaggle.csv")
inpe_data = pd.read_csv("../../dados/Preprocessed/preprocessed_inpe.csv")

## Checking for numeric and categorical columns

In [9]:
kaggle_data.head()

   year state  month  number  day
0  1998  Acre      1       0    1
1  1999  Acre      1       0    1
2  2000  Acre      1       0    1
3  2001  Acre      1       0    1
4  2002  Acre      1       0    1

In [10]:
inpe_data.head()

,estado,municipio,bioma,diasemchuva,precipitacao,riscofogo,latitude,longitude,frp,month,year,day,hour
0,AMAPA,MACAPA,Amazonia,0,0.2,0.1,0.057,-51.148,14.8,1,2018,2,17
1,AMAPA,ITAUBAL,Amazonia,0,0.0,0.0,0.609,-50.763,16.9,1,2018,2,17
2,AMAPA,ITAUBAL,Amazonia,0,0.0,0.0,0.607,-50.772,9.8,1,2018,2,17
3,AMAPA,PORTO GRANDE,Amazonia,0,0.0,0.0,0.677,-51.444,16.9,1,2018,2,17
4,TOCANTINS,SAO SALVADOR DO TOCANTINS,Cerrado,0,4.5,0.0,-12.565,-48.329,32.6,1,2018,2,16